<%= image_tag('bird.png', class: "bird") %>
<%= image_tag current_user.image_url, class: "img-circle img-thumbnail home-image" %>
<%= link_to "Logout", "/logout", class: "btn btn-lg btn-default btn-home fades2", method: :delete %>
<%= link_to "Dashboard", dashboard_path, class: "btn btn-lg btn-default btn-home fades2" %>

<div class="intro">
  <h1 class="home hi">Bird, bird, buuurd</h1>
</div>
<div class="pillar container">

  <div class="container-fluid container">
    <div class="col-md-8 intro">
      <h2 class="home bio"> Tweetin' friends... </h2>
    </div>
  </div>

  <div>
    <h2 class="header home">Your Feed</h2>
  </div>

  <% @feed.each do |tweet| %>
    <div class="row tweet-card">
      <span> <%= tweet.text %> <br>
      - <%= tweet.user.name %>  </span>
      <!-- <%= link_to "Like", dashboard_path, class: "btn btn-lg btn-default btn-home fades2" %> -->
      <%= button_to "Retweet", posts_retweet_path(id: tweet.id), :remote => true, class: "btn btn-lg btn-default btn-home retweet" %>
      <!-- <%= button_to "un-Retweet", posts_retweet_path(id: tweet.id), :remote => true, class: "btn btn-lg btn-default btn-home retweeted", style: "display:none" %> -->
    </div>
  <% end %>

</div>
