<%= image_tag current_user.image_url, class: "img-circle img-thumbnail home-image" %>
<%= link_to "Logout", "/logout", class: "btn btn-lg btn-default btn-home fades2", method: :delete %>
<!-- <%= link_to "Your Posts", posts_path, class: "btn btn-lg btn-default btn-home fades3" %> -->
<%= link_to "Dashboard", dashboard_path, class: "btn btn-lg btn-default btn-home fades2" %>
<!-- <%= link_to "Timeline", "/feed", class: "btn btn-lg btn-default btn-home fades3" %> -->

<div class="container-fluid container">
  <div class="col-md-8 intro">
    <h1 class="home hi">Hi, <%= current_user.name %></h1>
    <h2 class="home bio"> <%= current_user.bio %> </h2>
  </div>
</div>

<div class="pillar container">
  <div class="header">
    <h2>Your Feed</h2>
  </div>
  <% @feed.each do |tweet| %>
    <div class="row tweet-card">
      <span> <%= tweet.text %> </span>
    </div>
  <% end %>
</div>
