<%= link_to "Logout", "/logout", class: "btn btn-lg btn-default btn-home", method: :delete %>
<%= link_to "Your Posts", posts_path, class: "btn btn-lg btn-default btn-home" %>
<%= link_to "Timeline", "/logout", class: "btn btn-lg btn-default btn-home", method: :delete %>
<div class="container-fluid container-home">

  <div class="col-md-8">
    <h1 class="home">Hi, <%= current_user.name %></h1>
    <%= image_tag current_user.image_url, class: "img-circle img-thumbnail home-image" %>
    <h2 class="home"> <%= current_user.bio %> </h2>
  </div>
</div>
